<div class="modal fade" id="accomodationsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Accomodations</h1>
        <ul id="info-lists">
          <li><%=fa_icon("bed")%>&nbsp;&nbsp;There are a variety of accomodations onsite at Ozark Outdoors.</li>
          <li><%=fa_icon("bed")%>&nbsp;&nbsp;These include a range of size and price options.</li>
          <li><%=fa_icon("bed")%>&nbsp;&nbsp;Say you're with the Mathis/Carbone wedding when you book.</li>
          <li><%=fa_icon("bed")%>&nbsp;&nbsp;PLEASE NOTE: Some accomodations don't include basic bedding. Don't worry. We'll provide everything you need!</li>
          <li><%=fa_icon("bed")%>&nbsp;&nbsp;Here's the link: <a href="https://ozarkoutdoors.net/meramec-river-lodging/">Ozark Outdoors</a></li>
        </ul>
        <button id="story-btn-3" class="btn btn-info">Next</button>
      </div>
    </div>
  </div>
</div>