<table class="table table-hover table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Num People</td>
      <td>Email</td>
      <td>Float Trip</td>
      <td>Share Room</td>
      <td>Regrets</td>
      <td>Notes</td>

    </tr>
  </thead>
  <%@rsvps.each_with_index do |rsvp, i|%>
    <tr>
      <td><%=i + 1%></td>
      <td><%=rsvp.name%></td>
      <td><%=rsvp.num_people%></td>
      <td><%=rsvp.email%></td>
      <td><%=rsvp.float_trip%></td>
      <td><%=rsvp.share_room%></td>
      <td><%=rsvp.regrets%></td>
      <td><%=rsvp.notes%></td>
    </tr>
  <%end%>
</table>
