<!DOCTYPE html>
<html>
  <head>
    <title>MathboneWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>
    <div id="main-content-container">
      <%=render "layouts/main_navbar"%>
      <div id="notice"><%=notice%></div>
      <%= yield %>
    </div>
  </body>
</html>
